.container {
  padding: 1% 2% 1% 2%;
  margin: 0 auto;
  
	display: flex;
  flex-direction: column;
  justify-content: center;
	gap: 165px;
}

.c-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1% 1% 1% 1%;

	.menu-icon {
		display: none;
	}
	
	.c-h-logo {
		max-width: 100%;
		position: relative;
		right: 60px;

	}

	.c-h-button {
		display: flex;
		justify-content: center;
		align-items: center;

		color: white;
		font-size: 18px;
		font-weight: 700;
		text-decoration: none;

		max-width: 8rem;
		width: 100%;
		height: 3rem;
		
		border-radius: 10px;
		background-color: #410179;
		cursor: pointer;
	
		&:hover {
			transition: 0.3s;
			border-radius: 30px;
		}
	}
}

.c-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;

	gap: 300px;

	.s01-image02 {
		transform: scale(1.4);
		position: absolute;
		top: -50px;
		left: 42%;
		margin-left: 800px;
	}

  .c-m-sect-01 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    gap: 160px;

    .m-s01-text {
			
      .s01-image01 {
        max-width: 100%;
        width: 12px;
        position: absolute;
        top: 7px;
        left: -1px;
      }

      .s01-t-slogan {
        font-size: 42px;
        font-weight: 900;
        letter-spacing: 2.3px;
      }

      .s01-t-subslogan {
        font-size: 20px;
        width: 55%;
        font-weight: 600;
        letter-spacing: 1.2px;
      }
    }

    .m-s01-input {
      position: relative;

      .s01-i-label {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 1.2px;
        position: relative;
        bottom: 2px;
        left: 15px;
      }

      .m-s01-i-button {
        position: relative;

        .s01-i-input {
          width: 25rem;
          height: 3.125rem;
          border-radius: 15px;
          background: #fff;
          color: #8d8d8d;
          font-size: 18px;
          font-weight: 500;
          letter-spacing: 1.2px;
          padding: 0 140px 0 20px;
        }

        .s01-i-button {
          background-color: transparent;
          border: 1px solid #410179;
          border-radius: 10px;
          position: absolute;
          top: 8px;
          right: 12px;
          width: 6.7rem;
          height: 2.188rem;
          color: #410179;
          font-size: 18px;
          font-weight: 500;
          text-align: center;

          &:hover {
            transition: 0.3s;
            background-color: #410179;
            color: #ffffff;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .c-m-sect-02 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;

    .s02-image01 {
      max-width: 100%;
      transform: scale(1.1);
    }

    .m-s02-text {
      display: flex;
      flex-direction: column;
      justify-content: right;

      text-align: right;
      position: relative;

      .s02-image02 {
        max-width: 100%;
        width: 12px;
        position: absolute;
        top: 2%;
				left: 19%;
      }

      .s02-t-slogan {
        font-size: 42px;
        font-weight: 900;
        letter-spacing: 2.3px;
      }

      .s02-t-subslogan {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.2px;

				margin-top: 55px;

				u {
					font-weight: 900;
				}
      }
    }
  }

  .c-m-sect-03 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 140px;

    .m-s03-text {
      display: flex;
      flex-direction: column;
      text-align: center;
      position: relative;

      .s03-image01 {
        max-width: 100%;
        width: 12px;
        position: absolute;
        top: 7px;
        left: -1px;
      }

      .s03-t-slogan {
        font-size: 42px;
        font-weight: 900;
        letter-spacing: 2.3px;
      }

      .s03-t-subslogan {
        font-size: 20px;
        font-weight: 600;
        letter-spacing: 1.2px;

				u {
					font-weight: 900;
				}
      }
    }

    .m-s03-cards {
      display: flex;
      justify-content: center;
			align-items: center;
      gap: 80px;

			height: 450px;
			width: 100%;
			overflow: auto;

			section {
				img {
					transform: scale(1.11);
				}
			}
    }

    .s03-viewMore {
      position: relative;
      text-align: right;
      bottom: 100px;
      left: 480px;

			font-weight: 700;

			text-decoration: none;

			&:hover, &:active {
				color: white;
			}
    }
  }
}

@media only screen and (max-width: 1270px) {
  .c-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0;

    .c-h-logo {
      width: 30%;
      position: relative;
      right: 50px;
    }
  }

  .s01-image02 {
    display: none;
  }

	.c-main {
		.c-m-sect-02 {
			.m-s02-text {
				.s02-t-slogan {
					font-size: 30px;
					font-weight: 900;
					letter-spacing: 0;
				}

				.s02-image02 {
					top: 1%;
				}
			}
		}

		.c-m-sect-03 {
			.s03-viewMore {
				left: 45%;
			}	
		}
	}
}

@media only screen and (max-width: 992px) {
	.c-main {
		padding: 2% 5%;

		.c-m-sect-02 {
			flex-direction: column-reverse;
			gap: 100px;

			.m-s02-text {
				width: 100%;

				.s02-t-slogan {
					font-size: 42px;
					font-weight: 900;
					letter-spacing: 0;
				}

				.s02-image02 {
					top: 2%;
					left: 27.5%;
				}
			}
		}

		.c-m-sect-03 {
      padding: 20% 2% 25% 2%;
      gap: 100px;

      .m-s03-text {
        position: relative;
        gap: 2%;

        .s03-image01 {
          position: absolute;
          top: 1%;
          left: -0.5%;
        }

        .s03-t-slogan {
          font-size: 36px;
					white-space: nowrap;
        }
      }
    }
	}
}

@media only screen and (max-width: 720px) {
  .c-header {
		margin-top: 2%;

    .c-h-logo {
      width: 30%;
			transform: scale(1.4);
      position: relative;
      right: 0;
    }

    .c-h-button {
      max-width: 6rem;
      height: 2.8rem;
      font-size: 15px;
    }
  }

  .c-main {
    align-items: center;

    .c-m-sect-01 {
      .m-s01-text {
				display: flex;
				flex-direction: column;
				gap: 40px;

        .s01-t-slogan {
          letter-spacing: 1.65px;
        }
				
        .s01-t-subslogan {
          font-size: 18px;
          width: 75%;
        }
      }

      .s01-image02 {
        display: none;
      }

      .m-s01-input .m-s01-i-button .s01-i-button {
        top: 7px;
        right: 8px;
      }
    }

		.c-m-sect-02 {
			.m-s02-text {
				width: 100%;

				.s02-t-slogan {
					font-size: 34px;
					white-space: nowrap;
				}

				.s02-image02 {
					top: 2%;
					left: 21.5%;
				}
			}
		}

		.c-m-sect-03 {
      .m-s03-text {
				.s03-image01 {
					width: 8px;
					height: 8px;
          top: 5%;
        }

        .s03-t-slogan {
          font-size: 34px;
					letter-spacing: 0;
				}
      }
    }
  }
}

@media only screen and (max-width: 570px) {
	.c-main {
    .c-m-sect-01 {
      .m-s01-text {
        .s01-t-slogan {
					font-size: 34px;
					letter-spacing: 1.65px;
        }
				
				.s01-image01 {
					width: 10px;
					height: 10px;
					top: 1.5%;
					left: -0.5%;
				} 
				
        .s01-t-subslogan {
          font-size: 16px;
          width: 75%;
        }
      }
    }

		.c-m-sect-02 {
			.m-s02-text {
				.s02-t-slogan {
					font-size: 32px;
				}

				.s02-image02 {
					width: 10px;
					height: 10px;
					left: 30.7%;
				}
			}
		}

		.c-m-sect-03 {
      .m-s03-text {
				.s03-image01 {
					width: 8px;
					height: 8px;
          top: 5%;
        }

        .s03-t-slogan {
          font-size: 30px;
					letter-spacing: 0;
				}
      }
    }
  }
}

@media only screen and (max-width: 420px) {
	.c-header {
    justify-content: space-around;
    margin-top: 20px;
		gap: 80px;

    .c-h-logo {
			transform: scale(1.3);
    }
  }

  .c-main {
    .c-m-sect-01 {
			gap: 80px;

      .m-s01-text {
        .s01-t-subslogan {
          width: 80%;
					letter-spacing: 0;
        }

				.s01-image01 {
					top: 1%;
					left: -0.7%;
				} 
      }

      .m-s01-input {
        .s01-i-label {
          font-size: 15px;
          letter-spacing: 0;
        }

        .m-s01-i-button {
          .s01-i-input {
            width: 21rem;
            height: 3.125rem;
            font-size: 16px;
            letter-spacing: 0;
          }

          .s01-i-button {
            top: 7px;
            width: 6rem;
            height: 2.188rem;
            font-size: 16px;
            font-weight: 600;
            letter-spacing: 0;
          }
        }
      }
    }

    .c-m-sect-02 {
      .m-s02-text {
        .s02-image02 {
					width: 8px;
					height: 8px;
          left: 28.5%;
					top: 1%;
        }

        .s02-t-slogan {
          font-size: 24px;
          letter-spacing: 0;
        }

        .s02-t-subslogan {
          font-size: 18px;
          letter-spacing: 0;
        }
      }
    }

    .c-m-sect-03 {

      .m-s03-text {
        .s03-t-slogan {
          font-size: 22px;
          letter-spacing: 0;
        }

        .s03-t-subslogan {
          font-size: 15px;
          letter-spacing: 0;
        }
      }

      .s03-viewMore {
        position: relative;
        text-align: right;
        bottom: 40px;
        left: 110px;
      }
    }
  }
}
